:root {
    /* TYPOGRAPHY */
    --font-display: 'Oswald', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --font-body: 'JetBrains Mono', monospace;

    /* PALETTE */
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-inverse-bg: #000000;
    --color-inverse-text: #ffffff;

    /* LAYOUT */
    --border-width: 1px;
    --border-color: #000000;
    --border-radius: 0px;
    /* STRICT 0px */

    /* SPACING */
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-8: 64px;

    /* UTILS */
    --transition-fast: 0.1s ease-in-out;
}