.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    padding: var(--spacing-3) 0;
    border-bottom: var(--border-width) solid var(--color-border);
    animation: pulse 1.5s infinite;
}

.block {
    background: #000;
    height: 1rem;
    width: 100%;
}

.title {
    height: 3rem;
    width: 80%;
}

.meta {
    height: 1rem;
    width: 40%;
    opacity: 0.5;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}